<body unresolved class="fullbleed layout vertical">
  <span id="browser-sync-binding"></span>
  <template is="dom-bind" id="app">
      <!-- Main Area -->
    <paper-scroll-header-panel main id="headerPanelMain" condenses flex>
        <!-- Main Toolbar -->
      <paper-toolbar id="mainToolbar" class="tall">
        <!-- Search icons -->
        <paper-icon-button icon="search"></paper-icon-button>

        <!-- Application name -->
        <div class="middle middle-container center horizontal layout">
          <div class="app-name">Pace Board Game</div>
        </div>

        <!-- Application sub title -->
        <div class="bottom bottom-container center horizontal layout">
          <div class="bottom-title paper-font-subhead">Join a board game, anytime, anywhere!</div>
        </div>
      </paper-toolbar>

      <!-- Main Content -->
      <div class="content">
        <% @events.each do |event| %>
          <% tag_name = events.tag_to_events[0].tag_name %>
          <% img_url = @tag_dict[tag_name] %>

          <my-card time='<%= DateTime.parse(Time.at(event.event_at.to_f / 1000).to_s).strftime('%b %e %Y at %l:%M %p') %>' descriptions='<%= event.description%>' location='<%= event.address %>' title='<%= event.title %>' latitude='<%= event.lat %>' longitude='<%= event.lng %>' instructions='<%= event.special_instructions %>' tag='<%= tag_name %>' img-url='<%= img_url %>'></my-card>
        <% end %>
        <my-card></my-card>
      </div>
    </paper-scroll-header-panel>
  </template>

  <script src="scripts/app.js"></script>
</body>
