<p id="notice"><%= notice %></p>

<p>
  <strong>Tag name:</strong>
  <%= @tag.tag_name %>
</p>

<p>
  <strong>Photo url:</strong>
  <%= @tag.photo_url %>
</p>

<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
